@import "components/overview-form";
@import "components/card-sort";
@import "components/radio-group";
@import "components/select-input";
@import "components/progress-bar";

#header .navbar {
  background-color: #15265E;
}
#header .logo {
  max-height: 48px;
  position: relative;
  top: 1px;
}
#header .text {
  font-size: 1.3em;
  font-weight: 200;
  position: relative;
  top: 12px;
}
#header a {
  color: white;
}

#header a:hover {
  color: #BCBBBB;
  background-color: transparent;
}

#content {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}
