@import "components/card-sort";
@import "components/isp-radio-group";
@import "components/progress-bar";

#header .navbar {
  background-color: #0c1462;
}
#header .logo {
  max-height: 48px;
  position: relative;
  top: 1px;
}
#header .text {
  font-size: 1.3em;
  font-weight: 200;
  position: relative;
  top: 12px;
}
#header a {
  color: white;
}

#header a:hover {
  color: #BCBBBB;
  background-color: transparent;
}

#content {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

.auto-width {
  width: auto;
}

.break-line {
  white-space: pre-line;
}
