<p>
    You are currently logged in as user: <strong>{{currentUserId}}</strong> (<button class="btn-link" {{action 'invalidateSession'}}>logout</button>)
</p>

{{#link-to 'manage.who-completed'}}
    Who completed my study? Who, who?
{{/link-to}}
