<div class="row" class="text-center">
    <div class="col-xs-4 col-xs-offset-4">
        <p>
            Please wait while we fetch your data.
        </p>
        <p class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </p>
    </div>
</div>