<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="progress">
          <div class="progress-bar progress-bar-success"
               role="progressbar"
               aria-valuenow="0"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: {{width}};">
          </div>
        </div>
    </div>
</div>
