<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="progress">
          <div class="progress-bar progress-bar-success"
               role="progressbar"
               aria-valuenow="0"
               aria-valuemin="0"
               aria-valuemax="100"
               style={{width}}>
          </div>
        </div>
        <div class="progress-text">{{t 'global.progress'}}</div>
    </div>
</div>
