# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/scripts/credentials/*

# local configuration
.env
.env-local
env

# Misc
/scripts/*.json
!/scripts/en.json
/scripts/*.csv

/scripts/consent_forms/*csv
/scripts/consent_forms/**
!/scripts/consent_forms/test.csv
*.pyc
.python-version
