.bucket {
    height: 300px;
    overflow: auto;
}

.item {
    cursor: move;
}

.card-container {
    height: 75px;
    overflow: hidden;
    padding: 10px;
}

.center {
  text-align:center;
}

.small-card {
  font-size: 10px;
}

#smallBucket .well {
  padding:12px;
}

#smallBucket .alert {
  padding: 10px;
  margin-bottom: 12px;
}
