.isp-radio-group {
  white-space: nowrap;
}

.isp-radio-group {
  input {
	  margin: 10px;
    height: 1em;
  }
}

.label-text {
  font-size: 12px;
  font-weight:normal;
  text-align:center;
  display: inline-block;
  white-space: pre-line;
  overflow-wrap: break-word;
  margin-right: 10px;
}

.format-label {
  width: 9%;
  margin-top: -15px;
}
