.radio-group {
  white-space: nowrap;
}

.radio-group {
  input {
	  margin: 10px;
  }
}

.label-text {
  font-size: 12px;
  font-weight:normal;
  text-align:center;
  display: inline-block;
  white-space: pre-line;
  overflow-wrap: break-word;
  margin-right: 10px;
}

.format-label {
  width: 9%;
}
