<div id="expContainer">
  <br>
  {{
    exp-player
    experiment=experiment
    session=session
    pastSessions=pastSessions
    saveHandler=(action 'saveSession')

    frameIndex=frameIndex
    framePage=framePage

    fullScreenElementId='expContainer'
  }}
</div>