<select class="form-control select" onchange={{action (mut value) value="target.value"}}>
  <option value=null>Please select</option>
  {{#each options as |option|}}
    <option value={{option}} selected={{eq value option}}>{{option}}</option>
  {{/each}}
</select>