{{#each languages as |lang|}}
  <button class="btn btn-default flag-btn" onclick={{action 'pickLanguage' lang.name lang.code}}>
    <span class="flag-icon flag-icon-{{lower lang.countryCode}} flag-icon-squared pull-left center-flag"></span>
    <i class="pull-left">{{lang.countryName}}</i><br>
    <b class="pull-left">{{lang.name}}</b>
  </button>
{{/each}}
