<div class="span16">
  <h1>Contact Us</h1>
  <p>If you have any questions regarding this study or your rights as a participant, please contact us.</p>
  <p><strong class="faqu">David Funder // Principle Investigator</strong><br>
      Email: <a href="mailto:david.funder@ucr.edu">david.funder@ucr.edu</a></p>
  <p><strong class="faqu">Esther Guillaume // Project Leader</strong><br>
      Email: <a href="mailto:eguil002@ucr.edu">eguil002@ucr.edu</a></p>
  <p><strong class="faqu">Human Subjects Review Committee</strong><br>
      Phone: 951-827-5535</p>
</div>
