<div class="well" style="margin-top: 20px">
  <h3>Consent to Participate in Research</h3>
  <p>Welcome to our study.</p>
  <div class="form">
    <div class="form-group">
      <div class="form-input">
        {{input type="checkbox" checked=termsAccepted}}
        <label>I have read and understand the above statements and agree to participate.</label>
      </div>
    </div>
    <div class="form-group">
      <button {{action 'submit'}} class="btn btn-primary {{if termsAccepted 'enabled' 'disabled'}}">Please accept terms to continue</button>
    </div>
  </div>
</div>
