<div class="row">
  <div class="col-md-12">
    <h1> International Situations Project </h1>
    
    <div class="well">
      <p>Enter your <strong>Study ID</strong> and <strong>Participant ID</strong> into the fields below. Please <a href="/contact">contact us</a> if you have any questions.</p>
      <div class="form">
        <div class="form-group">
          <label for="identifier">Study ID</label>
          <div class="form-input">
	    {{input value=studyId}}
	  </div>
        </div>
	<div class="form-group">
          <label for="participant">Participant ID</label>
          <div class="form-input">
	    {{input value=pariticipantId}}
	  </div>
        </div>
        <div class="form-group">	 
          <button class="btn btn-primary" onclick={{action 'submit'}}>Continue >></button>
        </div>
      </div>
    </div>
  </div>
</div>
