{{#if selectedLanguage}}
  <h3>
    You chose: {{selectedLanguage}}
  </h3>
{{/if}}

<div class="row">
  <div class="col-md-12">
    <h1> International Situations Project </h1>
      {{jam-auth login=(action 'authenticate')}}
      <div class="well">
          <p>To test the survey, click below:</p>
          <div class="form-group">
            {{link-to 'Test >>' 'survey' class="btn btn-primary"}}
          </div>
      </div>
  </div>
</div>
{{#bs-modal body=false footer=false header=false open=showLanguageSelector}}
  {{#bs-modal-header}}
    <h4> Please choose a language </h4>
  {{/bs-modal-header}}
  {{#bs-modal-body}}
    {{language-picker onPick=(action 'selectLanguage')}}
  {{/bs-modal-body}}
{{/bs-modal}}
