<div class="span16">
  <h1>Study Goals</h1>
  <p>
    This study seeks to explore the psychologically salient aspects of situations and how those aspects may differ across cultures. Participants will first describe a situation they experienced the previous day. They will then describe their behaviors in that situation. From these data we hope to learn about the similarities and differences in situations across cultures, and how situations connect to behavior cross-culturally.
  </p>
  <p>
    Participants will describe situations by writing a brief description of the situation they experienced the previous day. They will rate the situations using the Riverside Situational Q-sort (<span class="caps">RSQ</span>), a newly developed tool that measures the psychological properties of situations. They will then rate their behaviors in the situations using the Riverside Behavioral Q-sort (<span class="caps">RBQ</span>). In non-English speaking countries, translated versions of these instruments will be available in the participants’ language.
  </p>
  <p>
    Data will be shared among all participating investigators. David Funder and Esther Guillaume will be responsible for the principal analyses of the cross-cultural data. They will also be responsible for writing the initial drafts of articles based on these data. Every investigator is, of course, free to use his or her own data in any way he or she wishes, such as for further articles reporting how situations are experienced in his or her own culture.
  </p>
</div>
